.App {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

body {
	background-color: rgb(255, 115, 0);
}

.Main {
	background-color: rgba(34, 22, 17, 0.199);
	margin-top: 100px;
	padding: 10px;
	border-radius: 10px;
}

input {
	display: block;
	margin: 10px auto;
	background-color: rgba(240, 248, 255, 0);
	color: white;
	width: 300px;
	height: 30px;
	font-size: 20px;
	border: 1.5px solid white;
	border-radius: 10px;
	padding: 5px;
}

.notValid{
	color: rgb(255, 0, 0);
	border: 1.5px solid rgb(255, 0, 0);
}

button {
	background-color: white;
	border: 0;
	border-radius: 10px;
	color: rgb(255, 115, 0);
  height: 30px;
	font-size: 20px;
  cursor: pointer;
}

input::placeholder {
	color: white;
}

.Form {
	margin: 0 auto;
}
